<h3>Login</h3>
<form action="" id="login-form">
    <input type="text" placeholder="Username" id="login-username">
    <input type="password" id="login-password">
    <button>Login</button>
</form>

<script src="../public/js/auth.js"></script>