<h3>Login</h3>
<form action="" id="login-form">
    <input type="text" placeholder="Username" id="login-username">
    <input type="password" placeholder="Password" id="login-password">
    <button>Login</button>
</form>
<h4>Don't have an account? <a href="/signup">Signup!</a></h4>

<script src="/js/login.js"></script>