<h3>Signup</h3>
<form action="/api/users" id="signup-form">
    <input type="text" placeholder="Username" id="signup-username">
    <input type="password" placeholder="Password" id="signup-password">
    <button>Signup</button>
</form>

<script src="/js/signup.js"></script>